/*
*****************************************************************************************************************************
* HOJA DE ESTILO GENERAL DE LA UNIVERSIDAD COMPLUTENSE DE MADRID
* OFICINA WEB - ÁREA DE INFRAESTRUCTURAS WEB
* Universidad Complutense de Madrid
* 
* Fichero:             normal.css
* Finalidad:           Visualizacion normal 
* Fecha actualizacion: 10/10/2010
* 
*****************************************************************************************************************************
*/
/*
*****************************************************************************************************************************
* OPCIONES GENERALES
*****************************************************************************************************************************
*/
/* Cuerpo general */
body {	
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 0.8em;
	font-family: Verdana, Arial, Helvetica;
	background-color: #FFFFFF;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
	margin: 2px 0px 2px 0px;
	color: #800000;
}

h2 {
	font-size: 1.4em;
	display: inline-block;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	color: #B30A26;
}

h3 {
	font-size: 1.1em;
	display: inline-block;
	font-weight: normal;
	margin: 0px 0px 5px 0px;
	color: #B30A26;
}

h4 {
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
	margin: 0px;
	color: #800000;
}

hr {
	border: 0px;
	height: 1px;
}

img {
	border: 0px;
	padding: 0px;
	margin: 0px;
	max-width: 750px;
}

/*  Otras */
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*
*****************************************************************************************************************************
* OPCIONES GENERALES
*****************************************************************************************************************************
*/
#contenedor {
	position: relative;
	width: 970px;
	padding: 0px 10px 0px 10px;
	margin: 10px auto 0 auto;
	background: #FFFFFF url(../css/media/fondo_borde.png) repeat-y left top;
}

#contenedor2 {
	position: relative;
	width: 990px;
	padding: 0px 0px 6px 0px;
	margin: 0 auto 0 auto;
	background: url(../css/media/fondo_pie.png) no-repeat left bottom;
}

#area_cabecera {
	position: relative;
	height: 90px;
	margin: 0px 1px 0px 0px;
	padding: 6px 0px 6px 0px;
	background: #FFFFFF url(../css/media/fondo_top.png) repeat-x left -8px;
}

#area_barra {
	position: relative;
	top: 0px;
	height: 18px;
	background-color: #B30A26;
	margin: 10px 1px 0px 0px;
	padding: 0px;
}

#area_ppal {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	margin: 0px 1px 0px 0px;
	padding: 0px;
	border-top: 1px solid #fff;
}

#area_menu {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 200px;
	height: 100%;
	background-color: #FFFFFF
}

#area_contenido {
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0px 1em 0px 200px;
	padding: 0px 0px 0px 0px;
	min-height: 520px;
	height: 100%;
}

#area_pie {
	position: relative;
	margin: 30px 1px 0px 0px;
	padding: 8px 0px 2px 0px;
	text-align: center;
	border-top: 1px solid #CFCFCF;
	color: #ffffff;
	font-size: 0.8em;
	background-color: #575757;
}

#pieUCM{
	position: relative;
	width: 970px;
	padding: 4px 0px 6px 0px;
	margin: 0 auto 0 auto;
	font-size: 0.8em;
	color: #575757;
}

#pieUCMi{
	float: left;
	padding: 0px 0px 0px 4px;
}

#pieUCMd{
	float: right;
	padding: 0px 4px 0px 0px;
}

/*
*****************************************************************************************************************************
* ELEMENTOS PRINCIPALES
*****************************************************************************************************************************
*/
#area_logo {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 20px 0px 0px 5px;
	padding: 0px 0px 0px 0px;
	width: 100px;
}

#area_ucm {
	top: 0px;
	padding: 2px;
	margin: 30px auto 0px auto;
	width: 485px;
	font-family: Myriad Pro Cond, times new roman, helvetica, serif;
	font-size: 2.3em;
	font-weight: bold;
	text-align: center;
}

#area_ucm a:link,#area_ucm a:active,#area_ucm a:visited {
	border: 0px;
	color: #000000;
	pointer-events: none;
    cursor: default;
}

#area_ucm a:hover {
	border: 0px;
	color: #9D0A17;
}

#area_cei{
	position: absolute;
	float: right;
	top: 0px;
	right: 0px;
	width: 150px;
	margin: 27px 12px 0px 0px;
}

#area_contenido a:link,#area_contenido a:active,#area_contenido a:visited
	{
	border-bottom: 1px dotted #E6E6E6;
	color: #5D5855;
}

#area_contenido a:hover {
	border-bottom: 1px dotted #B30A26;
	color: #B30A26;
}


#area_pie a:link,#area_pie a:active,#area_pie a:visited {
	color: #ffffff;
	border-bottom: 1px dotted #ffffff;
}

#area_pie a:hover {
	color: #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

#pieDer{
	float: right;
	margin: 4px 4px 8px 0px;
	/* hide */
	visibility: hidden;
}

#pieIzq{
	float: left;
	margin: 4px 0px 8px 0px;
	text-align: left;
	/* hide */
	visibility: hidden;
}

#pieDer ul, #pieIzq ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#pieDer li, #pieIzq li {
	float: left;
	padding: 0px 4px 0px 0px;
	margin: 0px 0px 0px 4px;
	border-right: 1px solid #ffffff;
}

#pieDer li.ultimo, #pieIzq  li.ultimo {
	border: 0px;
}

#pieDer li a:link,#pieDer li a:active,#pieDer li a:visited {
	color: #ffffff;
	border: 0px;
}

#pieDer li a:hover {
	color: #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

#pieIzq li a:link,#pieIzq li a:active,#pieIzq li a:visited {
	color: #ffffff;
	border: 0px;
}

#pieIzq li a:hover {
	color: #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}

/*
*****************************************************************************************************************************
* MENUS
*****************************************************************************************************************************
*/
#menu_barra {
	position: relative;
	font-size: 0.9em;
	margin: 0 auto 0 auto;
	padding: 0px;
	width: 498px;
	height: 18px;
	/* hide */
	display: none;
}

#menu_barra ul {
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#menu_barra li {
	float: left;
	padding: 1px 6px 1px 6px;
	margin-top: 1px;
	font-weight: bold;
	border-right: 2px solid #ffffff;
}

#menu_barra li.ultimo {
	border: 0px;
}

#menu_barra li a:link,#menu_barra li a:active,#menu_barra li a:visited {
	color: #FFFFFF;
}

#menu_barra li a:hover {
	color: #F1F1F1;
	border-bottom: 1px dotted #F1F1F1;
}

#menu_ppal {
	font-size: 1.2em;
}

#menu_ppal ul {
	list-style: none;
	margin: 0px 10px 22px 10px;
	padding: 12px 0px 0px 12px;
	border: 1px solid #CFCFCF;
}

#menu_ppal li {
	margin: 0px;
	padding-bottom: 12px;
}

#menu_ppal li a:link,#menu_ppal li a:active,#menu_ppal li a:visited {
	color: #B30A26;
}

#menu_ppal li a:hover {
	color: #9D0A17;
	border-bottom: 1px dotted #B30A26;
}

#menu_sec {
	font-size: 1.2em;
	
}

#menu_sec ul {
	list-style: none;
	margin: 10px 10px 0px 20px;
	padding: 10px 0px 0px 12px;
}

#menu_sec li {
	margin: 0px;
	padding-bottom: 5px;
}

#menu_sec li a:link,#menu_sec li a:active,#menu_sec li a:visited {
	color: #5D5855;
}

#menu_sec li a:hover {
	color: #000000;
	border-bottom: 1px dotted #5D5855;
}

#mEn{
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin: 0;
	padding:0px;
}

/*
*****************************************************************************************************************************
* ELEMENTOS DEL MAPA DE LA WEB
*****************************************************************************************************************************
*/
div.NivelesTitulo {
	position: relative;
	float: left;
	padding: 2px;
	border: 1px solid #EFEDED;
}

div.Niveles {
	position: relative;
	float: left;
	padding: 2px;
	border: 1px solid #EFEDED;
}

div.NivelesSelect {
	position: relative;
	float: left;
	padding: 2px;
	border: 1px solid #EFEDED;
	color: black;
	background-color: #EFEDED;
}

div.mapaarea {
	position: relative;
	padding: 2px;
	margin-top: 6px;
	font-weight: bold;
	text-decoration: underline;
}

div.maparea2 {
	position: relative;
	margin-left: 24px;
	padding: 2px;
}

div.maparea3 {
	position: relative;
	margin-left: 48px;
	padding: 2px;
}

div.maparea4 {
	position: relative;
	margin-left: 74px;
	padding: 2px;
}

div.maparea5 {
	position: relative;
	margin-left: 98px;
	padding: 2px;
}

/*
*****************************************************************************************************************************
* ELEMENTOS ADICIONALES
*****************************************************************************************************************************
*/
.peque1 {
	font-family: arial, 'lucida console', sans-serif;
	font-size: 11px;
}

.subrayado {
	text-decoration: underline;
}

.none {
	display: none;
	visibility: hidden;
	margin: 0px;
	white-space: nowrap;
}

.noimprimir {
	
}

div.spacer {
	clear: both;
}

div.limpiar {
	clear: both;
	margin: 0px;
	padding: 0px;
}

div.spacer2 {
	clear: both;
	padding: 2px;
}

/*
*****************************************************************************************************************************
* PLANES GRADOS
*****************************************************************************************************************************
*/
div.grados {
	position: relative;
}

div.grados table {
	width: 80%;
	margin: 0em 0em 0.9em 0em;
	padding: 0 0 0 0;
	border: 0px solid #FFF;
}

div.grados th {
	color: #252515;
	background: #f3f8f3;
	border-bottom: 1px solid #bccecc;
	border-left: 1px solid #bccecc;
	border-right: 1px solid #bccecc;
	border-top: 1px solid #bccecc;
	margin: 0 0 0 0;
	padding: 0.4em 0.4em 0.4em 0.4em;
	text-align: center;
}

div.grados td {
	padding: 0em;
	border-bottom: 1px solid #bccecc;
	text-align: left;
	border-left: 1px solid #bccecc;
	border-right: 1px solid #bccecc;
	border-top: 1px solid #FFF;
}

div.grados td p {
	margin: 1px 1px 1px 4px;
}

td.grado_td2 {
	width: 90px;
	text-align: center;
	padding: 0em;
}

td.grado_td2 p {
	text-align: center;
	padding: 0px;
	margin: 0px;
}

td.grado_td p {
	padding-left: 1em;
}
