<?xml version="1.0" encoding="UTF-8"?>


<config>
<width>599</width>
<height>284</height>
<background color="0xffffff" transparency="1"></background>
<mask cornerradius="0"></mask>

<navigation visible="yes" hideautomatically="yes">
 <position valign="bottom" halign="right" xoffset="-50" yoffset="-10" iconoffset="25"></position>
 <navitems thumbnails="yes" arrows="yes" play="no"></navitems>
 <src arrow="objects/arrow.png" thumbnail="objects/thumbnail.png" play="objects/play.png" pause="objects/pause.png"></src>
</navigation>




<banneritem id="1" duration="13">
	<image transition="blurover" transitionspeed="1">objects/rectorado1.jpg</image>
	<layeritem id="2" typ="text">
		<format size="50" color="0xffffff" letterspacing="1.1" textdecoration="normal" lettersequenze="random"></format>
		<font type="typ1"></font>
		<position x="140" y="60"></position>
		<timer startatsec="0.5" exitatsec="8"></timer>
		<animation start="blur,slide.down.back" startspeed="2" onstage="letterspacing" onstagespeed="0.07" exit="blurout" exitspeed="1"></animation>
		<background color="0x178e72" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		
		Bienvenido a
	</layeritem>	
 	
	<layeritem id="1" typ="text">
		<format size="30" color="0xffffff" letterspacing="-2" textdecoration="normal" lettersequenze="random"></format>
		<position x="150" y="135"></position>
		<font type="typ1"></font>
		<timer startatsec="2" exitatsec="8.5"></timer>
		<animation start="blur,slide.down.back" startspeed="2" onstage="letterspacing" onstagespeed="0.05" exit="blurout" exitspeed="1.5"></animation>
		<background color="0x926373" cornerradius="6" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		la página web del
	</layeritem>			
	<layeritem id="3" typ="letter">
		<format size="45" color="0xffffff" letterspacing="0" textdecoration="normal" lettersequenze="serial"></format>
		<position x="145" y="180"></position>
		<font type="typ1"></font>
		<timer startatsec="4" exitatsec="9"></timer>
		<animation start="blur,write,slide.left.elastic" startspeed="4" onstage="slideover.left" onstagespeed="0.2" exit="blurout" exitspeed="0.8"></animation>
		<background color="0x900f09" cornerradius="14" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		DEIC.
	</layeritem>	
	
	<layeritem id="2" typ="text">
		<format size="25" color="0xffffff" letterspacing="0.5" textdecoration="normal" lettersequenze="random"></format>
		<position x="145" y="30"></position>
		<timer startatsec="7" exitatsec="14"></timer>
		<animation start="blur,slide.down.back" startspeed="2" onstage="letterspacing" onstagespeed="0.04" exit="blurout" exitspeed="1.5"></animation>
		<background color="0xFED602" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.4"></background> 
		Departamento
	</layeritem>	
	
	<layeritem id="1" typ="text">
		<format size="25" color="0xffffff" letterspacing="-2" textdecoration="normal" lettersequenze="random"></format>
		<position x="100" y="90"></position>
		<timer startatsec="8" exitatsec="15"></timer>
		<animation start="blur,slide.down.Strong" startspeed="2" onstage="letterspacing" onstagespeed="0.03" exit="blurout" exitspeed="1.2"></animation>
		<background color="0xC16D0B" cornerradius="2" bordercolor="0xffffff" bordersize="0" transparency="0.4"></background> 
		de estudios e
	</layeritem>
	<layeritem id="1" typ="text">
		<format size="16" color="0xffffff" letterspacing="-2" textdecoration="normal" lettersequenze="random"></format>
		<position x="200" y="190"></position>
		<timer startatsec="10" exitatsec="15"></timer>
		<animation start="blur,slide.down.Strong" startspeed="2" onstage="letterspacing" onstagespeed="0.06" exit="blurout" exitspeed="1.5"></animation>
		<background color="0x52662B" cornerradius="2" bordercolor="0xffffff" bordersize="0" transparency="0.4"></background> 
		imagen corporativa.
	</layeritem>	
</banneritem>


<banneritem id="2" duration="14">
	<image transition="mask.vertical"  transitionspeed="2">objects/rectorado2.jpg</image>
	<layeritem id="1" typ="letter">
		<format size="20" color="0xffffff" letterspacing="2.1" textdecoration="normal" lettersequenze="serial"></format>
		<position x="2" y="70"></position>
		<timer startatsec="0.5" exitatsec="8"></timer>
		<animation start="slide.up.elastic,blur" startspeed="2.4" onstage="" exit="blurout" exitspeed="1"></animation>
		<background color="0xFF3300" cornerradius="0" bordercolor="0xF86002" bordersize="0" transparency="0.6"></background> 
		Pilar Martín 
	</layeritem>		
	<layeritem id="1" typ="letter">
		<format size="19" color="0xffffff" letterspacing="0" textdecoration="normal" lettersequenze="random"></format>
		<position x="80" y="110"></position>
		<timer startatsec="2" exitatsec="9"></timer>
		<animation start="rain" startspeed="1.4" onstage="" exit="blurout" exitspeed="1"></animation>
		<background color="0x245913" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.5"></background> 
		Javier Gómez
	</layeritem>		
	<layeritem id="3" typ="letter">
		<format size="17" color="0x43772c" letterspacing="0" textdecoration="normal" lettersequenze="serial"></format>
		<position x="15" y="180"></position>
		<font type="typ1"></font>
		<timer startatsec="4" exitatsec="9.5"></timer>
		<animation start="zoom,slide.right.elastic,write" startspeed="1.4" onstage="slideover.right" exit="blurout" exitspeed="1"></animation>
		<background color="0xffffff" cornerradius="10" bordercolor="0x43772c" bordersize="1.2" transparency="0.8"></background> 
		 Alberto Banet 
	</layeritem>			
	<layeritem id="2" typ="image">
		<format scale="1"></format>
		<position x="20" y="60"></position>
		<timer startatsec="8" exitatsec="15"></timer>
		<animation start="slide.left.back,blur" startspeed="2" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		objects/jpg.png
</layeritem>
<layeritem id="2" typ="image">
		<format scale="1"></format>
		<position x="20" y="120"></position>
		<timer startatsec="8.5" exitatsec="15"></timer>
		<animation start="blur,slide.right.back" startspeed="2" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		objects/gif.png
</layeritem>
<layeritem id="2" typ="image">
		<format scale="1"></format>
		<position x="20" y="180"></position>
		<timer startatsec="10" exitatsec="15"></timer>
		<animation start="blur,slide.right.back" startspeed="2" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		objects/png.png
</layeritem>
<layeritem id="1" typ="text">
		<format size="19" color="0xffffff" letterspacing="3.8" textdecoration="normal" lettersequenze="random"></format>
		<position x="280" y="110"></position>
		<timer startatsec="8" exitatsec="15"></timer>
		<animation start="slide.left.elastic" startspeed="1.4" onstage="" exit="blurout" exitspeed="1"></animation>
		<background color="0x000000" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.8"></background> 
		José Luis
	</layeritem>	
<layeritem id="1" typ="text">
		<format size="19" color="0xffffff" letterspacing="1.8" textdecoration="normal" lettersequenze="random"></format>
		<position x="280" y="142"></position>
		<timer startatsec="8.5" exitatsec="15"></timer>
		<animation start="slide.up.elastic" startspeed="1.4" onstage="" exit="blurout" exitspeed="1"></animation>
		<background color="0x000000" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.8"></background> 
		Aída Cordero
	</layeritem>	
<layeritem id="1" typ="text">
		<format size="19" color="0xffffff" letterspacing="1" textdecoration="normal" lettersequenze="random"></format>
		<position x="280" y="174"></position>
		<timer startatsec="9" exitatsec="15"></timer>
		<animation start="slide.down.elastic" startspeed="1.4" onstage="" exit="blurout" exitspeed="1"></animation>
		<background color="0x000000" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.8"></background> 
		Más gente...
	</layeritem>			
</banneritem>

<banneritem id="3" duration="12">
	<image transition="iris.circle"  transitionspeed="2">objects/rectorado3.jpg</image>
	 <layeritem id="1" typ="text">
		<format size="70" color="0xFFA879" letterspacing="1.8" textdecoration="outline" lettersequenze="random"></format>
		<position x="5" y="60"></position>
		<timer startatsec="0.6" exitatsec="4"></timer>
		<animation start="blur,slide.down.back" startspeed="2" onstage="slideover.up" onstagespeed="0.4" exit="blurout" exitspeed="2"></animation>
		<background color="0x21111E" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.3"></background> 
		Creatividad
	</layeritem>		
	 <layeritem id="2" typ="letter">
		<format size="50" color="0xffffff" letterspacing="1.5" textdecoration="normal" lettersequenze="serial"></format>
		<position x="170" y="120"></position>
		<timer startatsec="1.3" exitatsec="5.1"></timer>
		<animation start="blur,slide.left.elastic" startspeed="2" onstage="slideover.down" onstagespeed="0.4" exit="blurout" exitspeed="2"></animation>
		<background color="0x7ceaff" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.3"></background> 
		Tecnología
	</layeritem>		
	 <layeritem id="3" typ="text">
		<format size="30" color="0xAEE4FE" letterspacing="4" textdecoration="normal" lettersequenze="random"></format>
		<position x="60" y="100"></position>
		<timer startatsec="3.3" exitatsec="6.8"></timer>
		<animation start="blur,slide.right.back" startspeed="1.5" onstage="slideover.left" onstagespeed="0.8" exit="blurout" exitspeed="2"></animation>
		<background color="0xD66Eff" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.2"></background> 
		y seriedad
	</layeritem>	
	 <layeritem id="4" typ="text">
		<format size="45" color="0xFFFFFF" letterspacing="1.5" textdecoration="normal" lettersequenze="random"></format>
		<position x="20" y="150"></position>
		<timer startatsec="4.2" exitatsec="8"></timer>
		<animation start="blur,slide.left.elastic" startspeed="3" onstage="slideover.right" onstagespeed="1" exit="blurout" exitspeed="2"></animation>
		<background color="0xFFA879" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.5"></background> 
		al servicio
	</layeritem>		
<layeritem id="1" typ="text">
		<format size="25" color="0xffffff" letterspacing="1" textdecoration="normal" lettersequenze="random"></format>
		<position x="380" y="194"></position>
		<timer startatsec="6" exitatsec="9"></timer>
		<animation start="slide.down.elastic" startspeed="1.4" onstage="slideover.down" onstagespeed="1" exit="blurout" exitspeed="1"></animation>
		<background color="0x000000" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.8"></background> 
		de la 
	</layeritem>	
<layeritem id="1" typ="text">
		<format size="29" color="0x000000" letterspacing="1" textdecoration="normal" lettersequenze="random"></format>
		<position x="20" y="44"></position>
		<timer startatsec="6.4" exitatsec="9.2"></timer>
		<animation start="slide.right.back" startspeed="1.4" onstage="slideover.left" onstagespeed="1" exit="blurout" exitspeed="1"></animation>
		<background color="0xffffff" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.8"></background> 
		comunidad
	</layeritem>	
<layeritem id="1" typ="text">
		<format size="40" color="0x000000" letterspacing="0" textdecoration="normal" lettersequenze="random" maximalwidth="380"></format>
		<position x="105" y="74"></position>
		<timer startatsec="1" exitatsec="13"></timer>
		<animation start="blur" startspeed="15" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		<background color="0xffffff" cornerradius="16" bordercolor="0x000000" bordersize="2" transparency="0.8"></background> 
		universitaria
	</layeritem>	
</banneritem>

<banneritem id="4" duration="10">
	 <image transition="slide.right.elastic" transitionspeed="3">objects/rectorado4.jpg</image>
	 <layeritem id="1" typ="letter">
		<format size="35" color="0xffffff" letterspacing="0" textdecoration="outline" lettersequenze="serial"></format>
		<position x="10" y="20"></position>
		<timer startatsec="0.5" exitatsec="6"></timer>
		<animation start="write" startspeed="1" onstage="" onstagespeed="0.4" exit="blurout" exitspeed="1"></animation>
		<background color="0xAB86AD" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.7"></background> 
		es decir,
	</layeritem>	
	<layeritem id="2" typ="letter">
		<format size="50" color="0xAB86AD" letterspacing="4.1" textdecoration="normal" lettersequenze="random"></format>
		<position x="10" y="60"></position>
		<timer startatsec="1" exitatsec="6.5"></timer>
		<animation start="blur,slide.left.back" startspeed="1" onstage="" onstagespeed="0.4" exit="blurout" exitspeed="1"></animation>
		<background color="0xAB86AD" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.0"></background> 
		del excelentísimo Rector
	</layeritem>	
	 <layeritem id="3" typ="text">
		<format size="35" color="0xAB86AD" letterspacing="0" textdecoration="normal" lettersequenze="serial"></format>
		<position x="10" y="20"></position>
		<timer startatsec="2" exitatsec="6.8"></timer>
		<animation start="blur" startspeed="1" onstage="" onstagespeed="0.4" exit="blurout" exitspeed="1"></animation>
		<background color="0xffffff" cornerradius="0" bordercolor="0xAB86AD" bordersize="2" transparency="1"></background> 
		excelente al igual
	</layeritem>	
	<layeritem id="4" typ="letter">
		<format size="50" color="0xffffff" letterspacing="4.1" textdecoration="normal" lettersequenze="serial"></format>
		<position x="10" y="60"></position>
		<timer startatsec="2" exitatsec="7"></timer>
		<animation start="write" startspeed="0.5" onstage="" onstagespeed="0.4" exit="blurout" exitspeed="1"></animation>
		<background color="0xAB86AD" cornerradius="0" bordercolor="0xffffff" bordersize="0" transparency="0.0"></background> 
		que el campus
	</layeritem>	
	<layeritem id="4" typ="letter">
		<format size="15" color="0xFFFFFF" letterspacing="2.1" textdecoration="normal" lettersequenze="serial"></format>
		<position x="10" y="120"></position>
		<timer startatsec="2.5" exitatsec="7.2"></timer>
		<animation start="blur,write" startspeed="0.5" onstage="" onstagespeed="0.4" exit="blurout" exitspeed="1"></animation>
		<background color="0xAB86AD" cornerradius="0" bordercolor="0xAB86AD" bordersize="1.2" transparency="0.6"></background> 
		el famoso CEI 
	</layeritem>
	<layeritem id="4" typ="html">
		<format size="40" color="0xffffff" letterspacing="0" textdecoration="normal" lettersequenze="random"></format>
		<position x="50" y="170"></position>
		<timer startatsec="0" exitatsec="8"></timer>
		<animation start="slide.up.back,blur" startspeed="3" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		<background color="0x000000" cornerradius="10" bordercolor="0xffffff" bordersize="0" transparency="0.6"></background> 
<![CDATA[
<font size="20" color='#FFFFFF'>texto en html<br>		
<p><b>Bueno, pues</b></p>
<p><i>vamos a incorporar</i></p>
<p><code>esto a algunas</code></p>
<p>páginas<sub> web</sub> </font>
]]>
	</layeritem>	
</banneritem>

<banneritem id="5" duration="18">
	<image transition="rotate" transitionspeed="1">objects/rectorado5.jpg</image>
	<layeritem id="2" typ="text">
		<format size="17" color="0xffffff" letterspacing="1.1" textdecoration="normal" lettersequenze="random" maximalwidth="510"></format>
		<position x="30" y="60"></position>
		<timer startatsec="0.5" exitatsec="12"></timer>
		<animation start="blur,slide.down.elastic" startspeed="1" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		<background color="0x8A522D" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.4"></background> 
		<link url="http://activeden.net" target="_blank"></link>
	    espero que todo esto sirva para algo, con lo que me está costando encontrar texto para probar los efectos...
	</layeritem>
	
	<layeritem id="2" typ="letter">
		<format size="25" color="0xffffff" letterspacing="1.1" textdecoration="normal" lettersequenze="random" maximalwidth="510"></format>
		<position x="30" y="60"></position>
		<timer startatsec="12" exitatsec="18"></timer>
		<animation start="write" startspeed="1" onstage="" onstagespeed="" exit="blurout" exitspeed="1"></animation>
		<background color="0x8A522D" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.4"></background> 
		<link url="http://activeden.net" target="_blank"></link>
		y en español!!! con su Ñ, sus ácéntós y tó
		       á í ú ö ä ü Ö Ä Ü é Б В Г Д Е Ж Ѕ З И І К Л М Н О П í á ô ı ş ş ğ ç ü ö İ Ş Ç Ğ Ü Ö ô ľ š č ť ž ý...
	</layeritem>	

	<layeritem id="2" typ="text">
		<format size="20" color="0x000000" letterspacing="1.1" textdecoration="normal" lettersequenze="random"></format>
		<position x="150" y="20"></position>
		<timer startatsec="0.5" exitatsec="5"></timer>
		<animation start="blur" startspeed="2" onstage="letterspacing" onstagespeed="0.05" exit="blurout" exitspeed="1"></animation>
		<background color="0x8A522D" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		<link url="http://activeden.net" target="_blank"></link>
		BANNER
	</layeritem>	
	<layeritem id="2" typ="text">
		<format size="20" color="0x000000" letterspacing="1.1" textdecoration="normal" lettersequenze="random"></format>
		<position x="170" y="20"></position>
		<timer startatsec="4.5" exitatsec="8"></timer>
		<animation start="blur" startspeed="2" onstage="letterspacing" onstagespeed="0.05" exit="blurout" exitspeed="1"></animation>
		<background color="0x8A522D" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		<link url="http://activeden.net" target="_blank"></link>
		CONFIGURADO CON XML
	</layeritem>	
	<layeritem id="2" typ="text">
		<format size="20" color="0x000000" letterspacing="1.1" textdecoration="normal" lettersequenze="random"></format>
		<position x="170" y="20"></position>
		<timer startatsec="7.5" exitatsec="13"></timer>
		<animation start="blur" startspeed="2" onstage="letterspacing" onstagespeed="0.05" exit="blurout" exitspeed="1"></animation>
		<background color="0x8A522D" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		<link url="http://activeden.net" target="_blank"></link>
		PARA LO QUE USTED QUIERA
	</layeritem>	
	<layeritem id="2" typ="text">
		<format size="20" color="0x000000" letterspacing="1.1" textdecoration="normal" lettersequenze="random"></format>
		<position x="170" y="20"></position>
		<timer startatsec="12.5" exitatsec="18"></timer>
		<animation start="blur" startspeed="2" onstage="letterspacing" onstagespeed="0.05" exit="blurout" exitspeed="1"></animation>
		<background color="0x8A522D" cornerradius="12" bordercolor="0xffffff" bordersize="0" transparency="0.1"></background> 
		<link url="http://activeden.net" target="_blank"></link>
		Y PARA LA PAGINA WEB DEL CEI
	</layeritem>	
</banneritem>
</config>
